@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Video Player</h1>
    <p>Bike ride - Berislav Baričić</p>
</div>
<div>
    <video style="display:block; margin: 0 auto;" controls="controls" width="700" height="600">
        <source src="~/video/BikeRide.mp4" type="video/mp4" />
    </video>
</div>
