<h2>About</h2>

<p>VideoPlayer je web aplikacija izrađena u sklopu internship-a.
  Za izradu aplikacije korišten je Angular 8. Aplikacija se bazira na
  YouTube API-u koji nam omogućuje pretragu YouTube videa i prikaz popisa videa dobivenih pretragom.
  Popis sadrži sljedeće informacije: slika videa (thumbnail), naslov i opis Youtube videa. Slika videa i naslov su
  ujedno i linkovi na embeded Youtube player kojeg dobivamo s YouTube API-em za embeded playere.</p>

<p>
  <a href="https://developers.google.com/youtube/iframe_api_reference#top_of_page ">YouTube Player API for iframe Embeds</a>
</p>
<p>
  <a href="https://developers.google.com/youtube/v3/docs/search/list">YouTube v3 search API</a>
</p>


