 <!-- Load icon library -->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!-- The form -->
<!--<form class="searchbox" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>-->
<!--<div class="videocontainer">
  <ul class="videoslist">
    <li>
      <div class="videoimg">
        <a [routerLink]="['/video', 'Mp230WSY0Pg']">
          <img src="https://img.youtube.com/vi/Mp230WSY0Pg/0.jpg" height="250" width="350">
        </a>
      </div>
      <div class="description">
        <h1 style="font-size:25px">Torcida Split / Zbog jedne ljubavi</h1>
        <p>Hajdučke pjesme</p>
        <p>Description:...</p>
      </div>
    </li>
    <li>
      <div class="videoimg">
        <a [routerLink]="['/video', 'V3PqaIBHVtY']">
          <img src="https://img.youtube.com/vi/V3PqaIBHVtY/0.jpg" height="250" width="350">
        </a>
      </div>
      <div class="description">
        <h1 style="font-size:25px">Vinko Coce - Ako te tko pita.wmv</h1>
        <p>Hajdučke pjesme</p>
        <p>Description:...</p>
      </div>
    </li>
    <li>
      <div class="videoimg">
        <a [routerLink]="['/video', 'Q2aM9Vv_O3U']">
          <img src="https://img.youtube.com/vi/Q2aM9Vv_O3U/0.jpg" height="250" width="350">
        </a>
      </div>
      <div class="description">
        <h1 style="font-size:25px">ღ♫ Vinko Coce - Dalmacija, more, ja i ti ღ♫</h1>
        <p>Hajdučke pjesme</p>
        <p>Description:...</p>
      </div>
    </li>
    <li>
      <div class="videoimg">
        <a [routerLink]="['/video', '7z3njUB34kk']">
          <img src="https://img.youtube.com/vi/7z3njUB34kk/0.jpg" height="250" width="350">
        </a>
      </div>
      <div class="description">
        <h1 style="font-size:25px">KADA UMREM UMOTAN U BILO</h1>
        <p>Hajdučke pjesme</p>
        <p>Description:...</p>
      </div>
    </li>

  </ul>
</div>-->

<div class="ytcontainer">
  <div class="searchbox">
      <app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
  </div>

  <div class="row" style="margin-top:20px">
    <p>{{message}}</p>
    <app-search-result *ngFor="let result of results" [result]="result"></app-search-result>
  </div>
</div>
